html {
  font-size: 10px;
}
.pc {
  display: block;
}
.sp {
  display: none;
}
@media all and (max-width: 699px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
}
.wrapper {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}
.center {
  text-align: center;
}
.obj-row-m {
  margin-top: 16px;
}
.area-m {
  margin-top: 32px;
}
.area-p {
  padding-top: 32px;
}
.loading {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}
.error {
  color: rgb(249, 32, 97);
  text-align: center;
  margin-top: 32px;
  font-weight: normal;
  font-size: 2rem;
}
.info {
  color: rgb(37, 133, 194);
  text-align: center;
  margin-top: 32px;
  font-weight: normal;
  font-size: 1.4rem;
}
.main-title {
  margin-top: 48px;
  text-align: center;
  color: rgb(162, 162, 162);
  font-size: 2rem;
  line-height: 150%;
}
.title {
  margin-top: 48px;
  color: rgb(162, 162, 162);
  font-size: 1.6rem;
}
.class-name {
  padding-top: 16px;
  font-size: 2rem;
  font-weight: bold;
}
.class-info-area .md-list {
  border: 1px solid #CCC;
}
@media all and (min-width: 600px) {
  .class-info-area {
    width: 80%;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
  }
}
.button-area {
  margin: 64px auto;
}
.submit-end {
  margin-bottom: 48px;
}
.submit-end .message {
  color: rgb(37, 133, 194);
}
.submit-end .material-icons {
  display: inline-block;
  color: rgb(37, 133, 194);
  font-size: 8rem;
}
.submit-error, .submit-error .material-icons {
  color: rgb(249, 32, 97);
}
.blockquote {
  margin: 8px 0 0 0;
  padding-left: 16px;
  border-left: 4px solid #CCC;
}
.submit-end h3 {
  color: #b5b5b5;
}
.blockquote p {
  font-style: italic;
}
.s-user, .s-info {
  display: block;
  font-size: 1.2rem;
  color: #b5b5b5;
  text-align: right;
  font-style: italic;
}
